.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    /* height: 100%; */
    /* overflow:scroll */
    padding-bottom: 3em;
}

.checkout_ad {
    width: 100%;
    margin-bottom: 10px;
}

.img {
    border-radius: 50%;
}

.checkout_title {
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.quantity {
    border: gray solid 1px;
    padding: 1px;
    border-radius: .25rem;
}
.logOut {
    background: #f0c14b;
    margin-left: 10px;
    color: black;
    border-color: #a88734 #9c7e31 #846a29;
}

@media only screen and (max-width: 450px) {
    .checkout {
      flex-direction: column;
      justify-content: center;
    }
  } 
  /* @media only screen and (max-height: 900px ) and (max-width: 450px){
    .checkout {
      padding-top: 200px;
    }
  }  */